<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let dispositivo of this.dispositivos" routerLink="/dispositivo/{{dispositivo.dispositivoId}}" routerDirection="root">
      <ion-card>
        <ion-card-header>
          <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
          <ion-card-title>Dispositivo {{dispositivo.nombre}} - ID {{dispositivo.dispositivoId}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-item>
            <ion-label>Ubicación: {{dispositivo.ubicacion}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Valvula: {{dispositivo.valvulaId}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

    </ion-item>
  </ion-list>
</ion-content>
