<ion-header>
  <ion-toolbar>
    <ion-title>Riego App<ion-icon name="home" routerLink="../../" routerDirection="root" style="margin-left: 10px;"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="dispositivo">
      <ion-card-title>Dispositivo {{this.dispositivo.nombre}} - ID {{dispositivo.dispositivoId}}</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="dispositivo">
      <ion-item *ngIf="hayError">
        <ion-badge color="danger">Ocurrió un error</ion-badge>
      </ion-item>
    </ion-card-content>
    <ion-card-content>
      <div id="highcharts" style="width:100%;"></div>
    </ion-card-content>
    <ion-card-content *ngIf="dispositivo">
      <ion-item>
        <ion-button fill="outline" *ngIf="!ultimoLog || !ultimoLog.apertura" (click)="abrirValvula()">Abrir electroválvula</ion-button>
        <ion-button fill="outline" *ngIf="ultimoLog && ultimoLog.apertura" (click)="cerrarValvula()">Cerrar electroválvula</ion-button>
      </ion-item>
      <ion-item>
        <ion-button fill="outline" routerLink="../../mediciones/{{dispositivo.dispositivoId}}" routerDirection="root">Ver todas las mediciones</ion-button>
      </ion-item>
      <ion-item>
        <ion-button fill="outline" routerLink="../../valvula/{{dispositivo.electrovalvulaId}}" routerDirection="root">Ver log riegos</ion-button>
      </ion-item>
      
    </ion-card-content>
  </ion-card>
</ion-content>